In [1]:
import numpy as np
import pandas as pd

In [5]:
# import the files
flats = pd.read_csv("flats_cleaned.csv")
houses = pd.read_csv("house_cleaned.csv")

In [11]:
# concat
df = pd.concat([flats,houses],ignore_index = True)

In [17]:
# This line shuffles your dataset completely and resets row numbers.

df = df.sample(df.shape[0],ignore_index= True)
df.head()

,property_name,property_type,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,3 Bedroom House for sale in Sohna Road,house,independent,6.25,6944.0,9000.58,Plot area 1000(836.13 sq.m.),3,3,0,not available,"Sohna Road, Gurgaon, Haryana",1.0,Na,5 to 10 Year Old,"['Rajiv Chowk Mosque', 'Standard chartered ATM...",We are proud owners of house/villa available f...,[],NaN,NaN
1,4 Bedroom House for sale in Hsiidc Plot Sector...,house,independent,10.00,122222.0,818.18,Plot area 900(83.61 sq.m.),4,4,3+,servant room,"Hsiidc Plot Sector 1 Imt Manesar, Gurgaon, Har...",1.0,North-East,undefined,NaN,Hsiidc plot for sae sec-1 imt manesar Plot siz...,NaN,"['Feng Shui / Vaastu Compliant', 'Piped-gas', ...",NaN
2,4 Bedroom House for sale in Sector 54 Gurgaon,house,independent,3.75,234375.0,160.00,Plot area 160(14.86 sq.m.),4,4,3,servant room,"Sector 54 Gurgaon, Gurgaon, Haryana",3.0,East,5 to 10 Year Old,"['Sector 53-54 metro station', 'Sector 54 chow...",East facing old house ready to move in f block...,"['6 Fan', '1 Exhaust Fan', '3 Geyser', '7 Ligh...","['Maintenance Staff', 'Water Storage', 'Waste ...","['Environment4 out of 5', 'Safety4 out of 5', ..."
3,1 BHK Flat in Block A Surya Vihar,flat,shree shyam residency,0.23,5000.0,460.00,Carpet area: 460 (42.74 sq.m.),1 Bedroom,1 Bathroom,1 Balcony,not available,"Plot No. 833, Block A Surya Vihar, Gurgaon, Ha...",2.0,South,1 to 5 Year Old,"['Chintapurni Mandir', 'State bank ATM', 'Shre...",1 drawing room\n1 bed room\n1 bathroom\n1 balc...,"['1 Wardrobe', '1 Geyser', '1 Light', '1 Modul...","['Security / Fire Alarm', 'Lift(s)']",NaN
4,6 Bedroom House for sale in Sector 14 Gurgaon,house,independent,6.40,20317.0,3150.07,Plot area 350(292.64 sq.m.)Built Up area: 349 ...,6,6,3+,others,"Sector 14, Sector 14 Gurgaon, Gurgaon, Haryana",3.0,North,10+ Year Old,"['Sheetla Mata Mandir', 'Hsbc bank ATM', 'Hdfc...",House for sale plot size 350 sqyard corner 20 ...,NaN,"['Maintenance Staff', 'Water Storage', 'Park',...","['Environment4 out of 5', 'Safety4 out of 5', ..."

In [23]:
# Export

df.to_csv("gurgaon_properties.csv",index = False)