In [1]:
# import
import pandas as pd
import numpy as np

In [2]:
pd.set_option("display.max_rows",None)
pd.set_option("display.max_columns",None)

In [3]:
# read
df = pd.read_csv("gurgaon_properties.csv")

In [4]:
# sample
df.sample(5)

,property_name,property_type,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
2864,3 BHK Flat in Sector 66 Gurgaon,flat,emaar mgf the palm drive,2.80,16470.0,1700.00,Super Built up area 1950(181.16 sq.m.)Built Up...,3,4,3,servant room,"1202, Sector 66 Gurgaon, Gurgaon, Haryana",8.0,North-East,1 to 5 Year Old,"['Sector 55-56 Rapid Metro Station', 'HUB 66',...","Emaar mgf the palm drive in sector-66, gurgaon...","['3 Wardrobe', '1 Water Purifier', '6 Fan', '1...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...","['Green Area5 out of 5', 'Construction4.5 out ..."
3287,3 Bedroom House for sale in Sector 61 Gurgaon,house,smart world orchard,2.01,13000.0,1546.15,Plot area 1549(143.91 sq.m.),3,3,3,not available,"Sector 61 Gurgaon, Gurgaon, Haryana",4.0,North,Dec-23,"['Sector 55-56 Metro station', 'Bestech Centra...",Deal of the day.\nOffered price is 13000 per s...,[],"['Security / Fire Alarm', 'Feng Shui / Vaastu ...",NaN
1199,4 Bedroom House for sale in Sector 103 Gurgaon,house,satya the hermitage,4.35,13501.0,3221.98,Plot area 358(299.33 sq.m.),4,4,3+,"pooja room,study room,servant room,store room","001, Sector 103 Gurgaon, Gurgaon, Haryana",2.0,North,1 to 5 Year Old,"['Metro Hospital, Palam Vihar', 'Huda Metro St...","Satya the hermitage by satya developers, is a ...","['3 Wardrobe', '1 Chimney', '8 AC', '1 Modular...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...","['Environment4 out of 5', 'Lifestyle4 out of 5..."
914,3 BHK Flat in Sector 52 Gurgaon,flat,shree kirpalu gi sector 52,1.45,7631.0,1900.00,Super Built up area 1900(176.52 sq.m.)Built Up...,3,3,3+,others,"Gurgaon, Sector 52 Gurgaon, Gurgaon, Haryana",7.0,West,1 to 5 Year Old,"['Sector 54 chowk metro station', 'Sector metr...",Brokers please excuse. Located in the popular ...,"['4 Fan', '1 Exhaust Fan', '3 Geyser', '21 Lig...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...","['Environment4 out of 5', 'Lifestyle5 out of 5..."
1383,5 Bedroom House for sale in Sector 54 Gurgaon,house,emaar the palm springs,24.00,600000.0,400.00,Plot area 400(37.16 sq.m.),5,5,2,"pooja room,study room,servant room","Sector 54 Gurgaon, Gurgaon, Haryana",1.0,North-East,10+ Year Old,"['Sector 53-54 Metro Station', 'Central Plaza ...",Emaar palm spring sector-54 (Villa) 400 gaj ba...,"['8 Fan', '1 Exhaust Fan', '7 Geyser', '32 Lig...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...","['Environment4 out of 5', 'Lifestyle5 out of 5..."

In [5]:
# shape
df.shape

(3961, 20)

In [6]:
# duplicated
df.duplicated().sum()

0

In [7]:
# info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3961 entries, 0 to 3960
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   property_name    3961 non-null   object
 1   property_type    3961 non-null   object
 2   society          3960 non-null   object
 3   price            3941 non-null   float64
 4   price_per_sqft   3941 non-null   float64
 5   area             3941 non-null   float64
 6   areaWithType     3961 non-null   object
 7   bedRoom          3961 non-null   int64
 8   bathroom         3961 non-null   int64
 9   balcony          3961 non-null   object
 10  additionalRoom   3961 non-null   object
 11  address          3950 non-null   object
 12  floorNum         3940 non-null   float64
 13  facing           3961 non-null   object
 14  agePossession    3960 non-null   object
 15  nearbyLocations  3754 non-null   object
 16  description      3961 non-null   object
 17  furnishDetails   2929 non-null   object
 18  features         3252 non-null   object
 19  rating           3511 non-null   object
dtypes: float64(4), int64(2), object(14)
memory usage: 619.0+ KB

In [8]:
# isnull
df.isnull().sum()

property_name         0
property_type         0
society               1
price                20
price_per_sqft       20
area                 20
areaWithType          0
bedRoom               0
bathroom              0
balcony               0
additionalRoom        0
address              11
floorNum             21
facing                0
agePossession         1
nearbyLocations     207
description           0
furnishDetails     1032
features            709
rating              450
dtype: int64

In [9]:
# head
df.head()

,property_name,property_type,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,2 BHK Flat in Sector 95A Gurgaon,flat,the roselia 2,0.45,6475.0,695.0,Built Up area: 695 (64.57 sq.m.)Carpet area: 5...,2,2,2,not available,"Sector 95a, Pataudi Road, Sector 95A Gurgaon, ...",19.0,North,undefined,NaN,Signature roselia 2 bhk. It is a good location...,NaN,NaN,"['Environment5 out of 5', 'Lifestyle4.5 out of..."
1,3 BHK Flat in Sector 78 Gurgaon,flat,umang monsoon breeze,1.20,6493.0,1848.0,Super Built up area 2250(209.03 sq.m.)Carpet a...,3,3,2,pooja room,"Sector 78 Gurgaon, Gurgaon, Haryana",8.0,Na,5 to 10 Year Old,"['Proposed Metro Station', 'Mahapal Shing', 'N...","A 3 bedroom flat, located in sector-78 gurgaon...","['1 Water Purifier', '1 Fridge', '5 Fan', '1 E...","['Piped-gas', 'Natural Light']","['Safety4 out of 5', 'Lifestyle4 out of 5', 'E..."
2,3 BHK Flat in Sector 1 Imt Manesar,flat,hsiidc sidco aravali,0.91,3516.0,2588.0,Super Built up area 2588(240.43 sq.m.)Built Up...,3,3,3+,servant room,"Sector 1 Imt Manesar, Gurgaon, Haryana",8.0,East,5 to 10 Year Old,"['Pooja Clinic', 'Dr. Sahil Clinic', 'Prakash ...",Arawali sidco good property imt manesar \nNear...,"['6 Fan', '6 Light', 'No AC', 'No Bed', 'No Ch...","['Power Back-up', 'Lift(s)', 'Maintenance Staf...","['Environment5 out of 5', 'Lifestyle4.5 out of..."
3,3 BHK Flat in Sector 108 Gurgaon,flat,sobha city,3.35,13266.0,2525.0,Super Built up area 2072.9(192.58 sq.m.),3,4,2,not available,"Sector 108 Gurgaon, Gurgaon, Haryana",19.0,Na,0 to 1 Year Old,"['Dwarka Sector 21', 'Dwarka Expressway', 'Vas...",Sobha city gurgaon by sobha ltd.\nOver 86% of ...,NaN,"['Security / Fire Alarm', 'Feng Shui / Vaastu ...","['Environment4 out of 5', 'Lifestyle4.5 out of..."
4,2 BHK Flat in Sector 108 Gurgaon,flat,sobha city,1.90,13758.0,1381.0,Super Built up area 1381(128.3 sq.m.),2,2,2,not available,"N/a, Sector 108 Gurgaon, Gurgaon, Haryana",8.0,East,1 to 5 Year Old,"['Dwarka Sector 21', 'Dwarka Expressway', 'Vas...",Located in the popular residential address of ...,[],"['Power Back-up', 'Feng Shui / Vaastu Complian...","['Environment4 out of 5', 'Lifestyle4.5 out of..."

In [10]:
# sector
df.insert(loc = 1, column= "sector", value = df["property_name"].str.split('in').str.get(1).str.replace('Gurgaon','').str.strip())

In [11]:
df.head()

,property_name,sector,property_type,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,2 BHK Flat in Sector 95A Gurgaon,Sector 95A,flat,the roselia 2,0.45,6475.0,695.0,Built Up area: 695 (64.57 sq.m.)Carpet area: 5...,2,2,2,not available,"Sector 95a, Pataudi Road, Sector 95A Gurgaon, ...",19.0,North,undefined,NaN,Signature roselia 2 bhk. It is a good location...,NaN,NaN,"['Environment5 out of 5', 'Lifestyle4.5 out of..."
1,3 BHK Flat in Sector 78 Gurgaon,Sector 78,flat,umang monsoon breeze,1.20,6493.0,1848.0,Super Built up area 2250(209.03 sq.m.)Carpet a...,3,3,2,pooja room,"Sector 78 Gurgaon, Gurgaon, Haryana",8.0,Na,5 to 10 Year Old,"['Proposed Metro Station', 'Mahapal Shing', 'N...","A 3 bedroom flat, located in sector-78 gurgaon...","['1 Water Purifier', '1 Fridge', '5 Fan', '1 E...","['Piped-gas', 'Natural Light']","['Safety4 out of 5', 'Lifestyle4 out of 5', 'E..."
2,3 BHK Flat in Sector 1 Imt Manesar,Sector 1 Imt Manesar,flat,hsiidc sidco aravali,0.91,3516.0,2588.0,Super Built up area 2588(240.43 sq.m.)Built Up...,3,3,3+,servant room,"Sector 1 Imt Manesar, Gurgaon, Haryana",8.0,East,5 to 10 Year Old,"['Pooja Clinic', 'Dr. Sahil Clinic', 'Prakash ...",Arawali sidco good property imt manesar \nNear...,"['6 Fan', '6 Light', 'No AC', 'No Bed', 'No Ch...","['Power Back-up', 'Lift(s)', 'Maintenance Staf...","['Environment5 out of 5', 'Lifestyle4.5 out of..."
3,3 BHK Flat in Sector 108 Gurgaon,Sector 108,flat,sobha city,3.35,13266.0,2525.0,Super Built up area 2072.9(192.58 sq.m.),3,4,2,not available,"Sector 108 Gurgaon, Gurgaon, Haryana",19.0,Na,0 to 1 Year Old,"['Dwarka Sector 21', 'Dwarka Expressway', 'Vas...",Sobha city gurgaon by sobha ltd.\nOver 86% of ...,NaN,"['Security / Fire Alarm', 'Feng Shui / Vaastu ...","['Environment4 out of 5', 'Lifestyle4.5 out of..."
4,2 BHK Flat in Sector 108 Gurgaon,Sector 108,flat,sobha city,1.90,13758.0,1381.0,Super Built up area 1381(128.3 sq.m.),2,2,2,not available,"N/a, Sector 108 Gurgaon, Gurgaon, Haryana",8.0,East,1 to 5 Year Old,"['Dwarka Sector 21', 'Dwarka Expressway', 'Vas...",Located in the popular residential address of ...,[],"['Power Back-up', 'Feng Shui / Vaastu Complian...","['Environment4 out of 5', 'Lifestyle4.5 out of..."

In [12]:
df["sector"] = df["sector"].str.lower()

In [13]:
df["sector"].value_counts()

sector
sohna                                                        163
sector 102                                                   113
sector 85                                                    110
sector 92                                                    104
sector 69                                                     94
sector 65                                                     90
sector 90                                                     90
sector 81                                                     90
sector 109                                                    88
sector 79                                                     80
sector 83                                                     69
sector 37d                                                    68
sector 86                                                     67
sector 104                                                    66
sector 107                                                    60
sector 108                                                    59
sector 56                                                     57
sector 95                                                     57
sector 89                                                     56
sector 48                                                     56
sector 70a                                                    54
sector 37c                                                    53
nirvana country                                               53
sector 70                                                     53
sector-33 sohna                                               51
sector 84                                                     51
palam vihar                                                   50
sector 67                                                     48
sector 66                                                     46
sector 103                                                    45
dlf phase 1                                                   43
sector 113                                                    43
dlf phase 2                                                   43
sector 61                                                     42
sector 82                                                     42
sector 106                                                    38
sector 49                                                     36
sector 99a                                                    32
sushant lok phase 1                                           31
sector 68                                                     30
sector 72                                                     29
sector 77                                                     29
sector 71                                                     27
sector 54                                                     27
laxman vihar                                                  27
dlf phase 4                                                   26
sector 112                                                    24
sector 88a                                                    23
sector 33                                                     23
dlf phase 3                                                   22
sector 111                                                    22
sector 67a                                                    22
sector 82a                                                    20
sector 22                                                     20
sector 78                                                     19
sector 74                                                     18
sector 63a                                                    18
sector 91                                                     17
sector 62                                                     17
sector 99                                                     16
sector 110                                                    16
sushant lok phase 3                                           16
sector 60                                                     15
sector 63                                                     15
sector 14                                                     15
dlf phase 5                                                   14
sector 52                                                     14
gwal pahari                                                   14
rajendra park                                                 14
sector 3                                                      14
sector 1 imt manesar                                          14
sector 76                                                     14
sector 53                                                     14
sector 46                                                     13
sector 36a                                                    13
laxman vihar phase 2                                          13
sohna road                                                    12
uppals southend                                               12
sector 50                                                     12
sector 31                                                     12
sector 38                                                     12
sector 93                                                     12
sector 39                                                     12
sector 47                                                     11
ashok vihar phase 3 extension                                 11
sector 9a                                                     11
sector 7                                                      10
sector 1a imt manesar                                         10
ashok vihar phase 2                                            9
sector 95a                                                     9
south city 1                                                   9
sector 55                                                      9
sector 4                                                       9
malibu town                                                    8
dwarka expressway                                              8
sector 10a                                                     8
sector 57                                                      8
sector 89 a                                                    8
mehrauli  road                                                 8
sector 59                                                      8
palam vihar extension                                          8
sector 43                                                      8
c block sushant lok phase 1                                    8
sector 40                                                      8
surat nagar 1                                                  7
sector 11                                                      7
sector 36 sohna                                                7
sector 58                                                      7
sector 51                                                      7
new colony                                                     7
mianwali colony                                                7
sector 26                                                      7
rajiv nagar                                                    6
jyoti park                                                     6
sector 1                                                       6
sector 5                                                       6
ashok vihar                                                    6
jacobpura                                                      6
sector 28                                                      5
sector 9                                                       5
sector 2                                                       5
greenwood city                                                 5
arjun nagar                                                    5
sector 30                                                      5
dayanand colony                                                5
new palam vihar                                                5
ansal plaza                                                    5
saraswati vihar                                                5
sector 23a                                                     5
sector 105                                                     5
sushant lok phase 2                                            5
chakkarpur                                                     5
sector 80                                                      5
manesar                                                        5
subhash nagar                                                  5
imt manesar                                                    4
sector 36                                                      4
vishnu garden                                                  4
sector 6                                                       4
sector 12                                                      4
dharam colony                                                  4
sector 3a                                                      4
ravi nagar                                                     4
suncity                                                        4
krishna colony                                                 4
surya vihar                                                    4
sector 45                                                      4
garhi harsaru                                                  4
bhim nagar                                                     4
bhondsi                                                        4
shivpuri                                                       4
adarsh nagar                                                   4
baldev nagar                                                   4
madanpuri                                                      4
sector 17                                                      4
shivaji nagar                                                  4
devilal colony                                                 4
new                                                            4
valley view estate                                             4
sector 12a                                                     4
laxmi garden                                                   3
sector 73                                                      3
prem nagar                                                     3
gandhi nagar                                                   3
shakti nagar                                                   3
sector 8                                                       3
sector 15                                                      3
sector 23                                                      3
patel nagar                                                    3
sector 17b                                                     3
maruti kunj                                                    3
sector 110 a                                                   3
sector 27                                                      3
a block sushant lok phase 1                                    3
b block sushant lok phase 1                                    3
sector 88b                                                     3
sector 17a                                                     3
mg road                                                        3
sector 15 part 2                                               2
mohan nagar                                                    2
mayfield garden                                                2
bhawani enclave                                                2
golf course road                                               2
sector 21                                                      2
farukhnagar                                                    2
manohar nagar                                                  2
sector-2 sohna                                                 2
rosewood                                                       2
hira nagar                                                     2
iffco chowk                                                    2
nars                                                           2
new palam vihar phase 1                                        2
lajpat nagar                                                   2
, delhi ncr                                                    2
sohna  road                                                    2
daulatabad                                                     2
surat nagar phase 2                                            2
samaspur                                                       2
shanti nagar                                                   2
sector 15 part 1                                               2
faridabad road                                                 2
ambience island                                                2
rajiv chowk                                                    2
sector 32                                                      2
new palam vihar phase 2                                        2
surat nagar                                                    2
west rajiv nagar                                               2
bissar                                                         2
shankar vihar                                                  2
golf course ext road                                           2
acharya puri                                                   2
sispal vihar                                                   2
pratap nagar                                                   2
block a surya vihar                                            2
sector-11 sohna                                                2
sheetla colony                                                 2
sector 24                                                      2
sector 41                                                      2
sushant lok                                                    2
new basti                                                      2
bhora kalan                                                    1
laxman vihar, railway road,                                    1
sector 5 chowk                                                 1
hno 13 sagar enclave sura                                      1
heritage city                                                  1
civil l                                                        1
huda saraswati vihar                                           1
nirvana country pocket h                                       1
laxmna vihar, phase 2                                          1
sector 9b                                                      1
jacobpura near sadar bazar                                     1
udyog vihar phase 1                                            1
bptp                                                           1
lucknow                                                        1
sector 37b                                                     1
part 3 sector 5                                                1
naharpur rupa                                                  1
old delhi road, opp sector-14                                  1
pataudi road                                                   1
near khandsa road                                              1
rajiv colony                                                   1
sadar bazar                                                    1
garauli kalan                                                  1
b1 block sector 57                                             1
v block dlf phase 3                                            1
mahavir pura                                                   1
vir nagar                                                      1
rattan garden                                                  1
near nand hospital                                             1
sector-7 hous                                                  1
south city                                                     1
sector 4 urban estate                                          1
ats marigold                                                   1
godrej aria , sector 79 ,                                      1
ram nagar                                                      1
sector 42                                                      1
saroop garden rajendra park                                    1
carterpuri village                                             1
alipur                                                         1
anand garden, sector-105                                       1
sector-5 sohna                                                 1
near euro                                                      1
sultanpur                                                      1
cyber city                                                     1
hsiidc plot sector 1 imt manesar                               1
ashok vihar phase 3                                            1
jat colony,fazilpur/taj nagar road                             1
park view                                                      1
dhankot                                                        1
bhimgarh kheri phase 3                                         1
new jyoti park                                                 1
g block dlf city phase 1                                       1
devi lal colony gali no 12 gurgaon nr omkar public school      1
ansal's palam vihar                                            1
kheri                                                          1
near pataudi chowk                                             1
near sector 1 market                                           1
om nagar                                                       1
shivji park colony                                             1
khandsa                                                        1
block g sector-57                                              1
damdma                                                         1
sector 13                                                      1
mahalaxmi garden, rajendra place                               1
sector 37a                                                     1
new colony, sector 7                                           1
gopal nagar, garhi ghasita, sonipat                            1
begampur khatola                                               1
sector-5 sheetla colony                                        1
kanahi                                                         1
ashok vihar phase i                                            1
block h ashok vihar phase iii extension                        1
urban estate, sector 5                                         1
sector 17c                                                     1
sai kunj                                                       1
ravi nager basai road                                          1
saraswati enclave                                              1
tekchand nagar                                                 1
sector-35 sohna                                                1
sector 21a faridabad                                           1
sec 3 bhim vihar part 1 bhimgher kheri                         1
Name: count, dtype: int64

In [14]:
# there are certain locality that are in the sector but not the information of the sector
# ex : laxman vihar (copy it searct it on the google for their sector)

In [15]:
df["sector"] = df["sector"].str.replace("nirvana country", "sector 50")
df['sector'] = df['sector'].str.replace('saraswati vihar','sector 28')
df['sector'] = df['sector'].str.replace('arjun nagar','sector 8')
df['sector'] = df['sector'].str.replace('ravi nagar','sector 9')
df['sector'] = df['sector'].str.replace('vishnu garden','sector 105')
df['sector'] = df['sector'].str.replace('bhondsi','sector 11')
df['sector'] = df['sector'].str.replace('surya vihar','sector 21')
df['sector'] = df['sector'].str.replace('devilal colony','sector 9')
df['sector'] = df['sector'].str.replace('valley view estate','gwal pahari')
df['sector'] = df['sector'].str.replace('mehrauli  road','sector 14')
df['sector'] = df['sector'].str.replace('jyoti park','sector 7')
df['sector'] = df['sector'].str.replace('ansal plaza','sector 23')
df['sector'] = df['sector'].str.replace('dayanand colony','sector 6')
df['sector'] = df['sector'].str.replace('sushant lok phase 2','sector 55')
df['sector'] = df['sector'].str.replace('chakkarpur','sector 28')
df['sector'] = df['sector'].str.replace('greenwood city','sector 45')
df['sector'] = df['sector'].str.replace('subhash nagar','sector 12')

In [16]:
df['sector'] = df['sector'].str.replace('dharam colony','sector 12')
df['sector'] = df['sector'].str.replace('krishna colony','sector 7')
df['sector'] = df['sector'].str.replace('suncity','sector 54')
df['sector'] = df['sector'].str.replace('prem nagar','sector 13')
df['sector'] = df['sector'].str.replace('mg road','sector 28')
df['sector'] = df['sector'].str.replace('gandhi nagar','sector 28')
df['sector'] = df['sector'].str.replace('laxmi garden','sector 11')
df['sector'] = df['sector'].str.replace('shakti nagar','sector 11')
df['sector'] = df['sector'].str.replace('baldev nagar','sector 7')
df['sector'] = df['sector'].str.replace('shivpuri','sector 7')
df['sector'] = df['sector'].str.replace('garhi harsaru','sector 17')
df['sector'] = df['sector'].str.replace('imt manesar','manesar')
df['sector'] = df['sector'].str.replace('adarsh nagar','sector 12')
df['sector'] = df['sector'].str.replace('shivaji nagar','sector 11')
df['sector'] = df['sector'].str.replace('bhim nagar','sector 6')
df['sector'] = df['sector'].str.replace('madanpuri','sector 7')

In [17]:
df['sector'] = df['sector'].str.replace('sohna road road','sohna road')
df['sector'] = df['sector'].str.replace('malibu town','sector 47')
df['sector'] = df['sector'].str.replace('surat nagar 1','sector 104')
df['sector'] = df['sector'].str.replace('new colony','sector 7')
df['sector'] = df['sector'].str.replace('mianwali colony','sector 12')
df['sector'] = df['sector'].str.replace('jacobpura','sector 12')
df['sector'] = df['sector'].str.replace('rajiv nagar','sector 13')
df['sector'] = df['sector'].str.replace('ashok vihar','sector 3')
df['sector'] = df['sector'].str.replace('dlf phase 1','sector 26')
df['sector'] = df['sector'].str.replace('nirvana country','sector 50')
df['sector'] = df['sector'].str.replace('palam vihar','sector 2')
df['sector'] = df['sector'].str.replace('dlf phase 2','sector 25')
df['sector'] = df['sector'].str.replace('sushant lok phase 1','sector 43')
df['sector'] = df['sector'].str.replace('laxman vihar','sector 4')
df['sector'] = df['sector'].str.replace('dlf phase 4','sector 28')
df['sector'] = df['sector'].str.replace('dlf phase 3','sector 24')

In [18]:
df['sector'] = df['sector'].str.replace('sushant lok phase 3','sector 57')
df['sector'] = df['sector'].str.replace('dlf phase 5','sector 43')
df['sector'] = df['sector'].str.replace('rajendra park','sector 105')
df['sector'] = df['sector'].str.replace('uppals southend','sector 49')
df['sector'] = df['sector'].str.replace('sohna','sohna road')
df['sector'] = df['sector'].str.replace('ashok vihar phase 3 extension','sector 5')
df['sector'] = df['sector'].str.replace('south city 1','sector 41')
df['sector'] = df['sector'].str.replace('ashok vihar phase 2','sector 5')

In [19]:
a = df['sector'].value_counts()[df['sector'].value_counts() >= 3]
df = df[df['sector'].isin(a.index)]

In [20]:
a

sector
sohna road                    163
sector 102                    113
sector 85                     110
sector 92                     104
sector 69                      94
sector 90                      90
sector 81                      90
sector 65                      90
sector 109                     88
sector 79                      80
sector 104                     73
sector 83                      69
sector 37d                     68
sector 86                      67
sector 50                      65
sector 107                     60
sector 108                     59
sector 95                      57
sector 56                      57
sector 48                      56
sector 89                      56
sector 2                       55
sector 70a                     54
sector 43                      53
sector 70                      53
sector 37c                     53
sector-33 sohna road           51
sector 84                      51
sector 26                      50
sector 49                      48
sector 67                      48
sector 28                      47
sector 66                      46
sector 103                     45
sector 113                     43
sector 25                      43
sector 82                      42
sector 61                      42
sector 7                       39
sector 106                     38
sector 4                       36
sector 99a                     32
sector 54                      31
sector 68                      30
sector 12                      30
sector 77                      29
sector 72                      29
sector 71                      27
sector 57                      24
sector 24                      24
sector 112                     24
sector 33                      23
sector 88a                     23
sector 14                      23
sector 105                     23
sector 111                     22
sector 67a                     22
sector 11                      21
sector 3                       20
sector 82a                     20
sector 22                      20
sector 78                      19
sector 47                      19
sector 74                      18
gwal pahari                    18
sector 63a                     18
sector 62                      17
sector 91                      17
sector 110                     16
sector 99                      16
sector 60                      15
sector 63                      15
sector 76                      14
sector 55                      14
sector 52                      14
sector 1 manesar               14
sector 53                      14
sector 6                       13
sector 36a                     13
sector 9                       13
sector 4 phase 2               13
sector 46                      13
sohna road road                12
sector 39                      12
sector 93                      12
sector 31                      12
sector 38                      12
sector 3 phase 3 extension     11
sector 9a                      11
sector 41                      11
sector 13                      10
sector 1a manesar              10
sector 3 phase 2                9
sector 95a                      9
manesar                         9
sector 45                       9
sector 17                       8
sector 8                        8
sector 2 extension              8
sector 23                       8
dwarka expressway               8
sector 59                       8
sector 40                       8
sector 10a                      8
sector 89 a                     8
c block sector 43               8
sector 51                       7
sector 36 sohna road            7
sector 58                       7
sector 1                        6
sector 21                       6
sector 5                        6
sector 30                       5
new sector 2                    5
sector 80                       5
sector 23a                      5
new                             4
sector 12a                      4
sector 36                       4
sector 3a                       4
sector 17b                      3
sector 73                       3
sector 88b                      3
maruti kunj                     3
sector 17a                      3
sector 15                       3
a block sector 43               3
patel nagar                     3
sector 110 a                    3
b block sector 43               3
sector 27                       3
Name: count, dtype: int64

In [21]:
df['sector'] = df['sector'].str.replace('sector 95a','sector 95')
df['sector'] = df['sector'].str.replace('sector 23a','sector 23')
df['sector'] = df['sector'].str.replace('sector 12a','sector 12')
df['sector'] = df['sector'].str.replace('sector 3a','sector 3')
df['sector'] = df['sector'].str.replace('sector 110 a','sector 110')
df['sector'] = df['sector'].str.replace('patel nagar','sector 15')
df['sector'] = df['sector'].str.replace('a block sector 43','sector 43')
df['sector'] = df['sector'].str.replace('maruti kunj','sector 12')
df['sector'] = df['sector'].str.replace('b block sector 43','sector 43')
df['sector'] = df['sector'].str.replace('sector-33 sohna road','sector 33')
df['sector'] = df['sector'].str.replace('sector 1 manesar','manesar')
df['sector'] = df['sector'].str.replace('sector 4 phase 2','sector 4')
df['sector'] = df['sector'].str.replace('sector 1a manesar','manesar')
df['sector'] = df['sector'].str.replace('c block sector 43','sector 43')
df['sector'] = df['sector'].str.replace('sector 89 a','sector 89')
df['sector'] = df['sector'].str.replace('sector 2 extension','sector 2')
df['sector'] = df['sector'].str.replace('sector 36 sohna road','sector 36')

In [22]:
df[df['sector'] == 'new']

,property_name,sector,property_type,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
1110,4 BHK Flat in New Gurgaon,new,flat,dlf 76,4.00,11428.0,3500.0,Carpet area: 3500 (325.16 sq.m.),4,4,2,"study room,servant room","New Gurgaon, Gurgaon, Haryana",4.0,Na,Jun-27,"['Shri Balaji Hospital and Trauma Center', 'S....",This lovely 4 bhk apartment/flat in new gurgao...,"['6 Wardrobe', '1 Fridge', '8 Fan', '1 Exhaust...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...",NaN
1340,2 BHK Flat in New Gurgaon,new,flat,takshila heights sector 37 c,0.67,5583.0,1200.0,Super Built up area 1200(111.48 sq.m.),2,2,2,not available,"New Gurgaon, Gurgaon, Haryana",3.0,Na,1 to 5 Year Old,"['Shri Balaji Hospital and Trauma Center', 'S....",Check out this 2 bhk apartment for sale in tak...,[],"['Lift(s)', 'Swimming Pool', 'Visitor Parking'...",NaN
1407,2 BHK Flat in New Gurgaon,new,flat,green court,0.38,5507.0,690.0,Carpet area: 690 (64.1 sq.m.),2,2,1,not available,"New Gurgaon, Gurgaon, Haryana",7.0,Na,Under Construction,"['Ing bank ATM', 'Dcb bank ATM', 'Indus ind ba...",We are the proud owners of this 2 bhk apartmen...,[],"['Intercom Facility', 'Lift(s)', 'Maintenance ...",NaN
2887,4 BHK Flat in New Gurgaon,new,flat,sare homes,0.85,4786.0,1776.0,Super Built up area 1776(165 sq.m.),4,4,3,not available,"New Gurgaon, Gurgaon, Haryana",3.0,Na,5 to 10 Year Old,"['Columbia Asia Hospital', 'Apex Multi Special...",Located in the popular residential address of ...,[],NaN,NaN

In [23]:
df.loc[134,"sector"] = "sector 76"
df.loc[148,"sector"] = "sector 92"
df.loc[1471,"sector"] = "sector 37"
df.loc[2568,"sector"] = "sector 92"

In [24]:
df[df['sector'] == 'new sector 2']

,property_name,sector,property_type,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
1448,2 Bedroom House for sale in New Palam Vihar,new sector 2,house,my home,0.34,12592.0,270.01,Plot area 270(25.08 sq.m.),2,2,2,not available,"Ez-19 A, New Palam Vihar, Gurgaon, Haryana",3.0,West,5 to 10 Year Old,"['Palam Vihar Vyapar kendra', 'Palam triangle'...",There are availability of various facilities l...,"['1 Wardrobe', '3 Fan', '6 Light', 'No AC', 'N...","['Water Storage', 'Park', 'Visitor Parking']","['Environment4 out of 5', 'Lifestyle4 out of 5..."
1620,2 BHK Flat in New Palam Vihar,new sector 2,flat,my home,0.28,3166.0,884.00,Carpet area: 900 (83.61 sq.m.),2,1,1,others,"F 150/b, New Palam Vihar, Gurgaon, Haryana",2.0,Na,1 to 5 Year Old,"['Palam Vihar Vyapar kendra', 'Palam triangle'...","2 bhk room with wooden coverd ,1 drawing room,...","['3 Wardrobe', '5 Light', '1 Chimney', '1 Modu...","['Water Storage', 'Park']","['Environment4 out of 5', 'Safety4 out of 5', ..."
2070,2 BHK Flat in New Palam Vihar,new sector 2,flat,ompee k s residency,1.60,26936.0,594.00,Carpet area: 66 (55.18 sq.m.),2,2,2,not available,"New Palam Vihar, Gurgaon, Haryana",1.0,Na,1 to 5 Year Old,"['Palam Vihar Vyapar kendra', 'Palam triangle'...",We are the proud owners of this 2 bhk apartmen...,NaN,NaN,"['Environment4 out of 5', 'Safety4 out of 5', ..."
2152,3 Bedroom House for sale in New Palam Vihar,new sector 2,house,independent,1.00,8796.0,1136.88,Plot area 120(100.34 sq.m.)Built Up area: 120 ...,3,2,2,pooja room,"Q-148, New Palam Vihar, Phase-2, Near Royal Oa...",1.0,North,10+ Year Old,"['Palam Vihar Vyapar kendra', 'Palam triangle'...","Ground and first floor, Ground floor: Ground f...",NaN,NaN,"['Environment4 out of 5', 'Lifestyle4 out of 5..."
3237,2 BHK Flat in New Palam Vihar,new sector 2,flat,my home,0.22,4400.0,500.00,Carpet area: 500 (46.45 sq.m.),2,2,1,not available,"New Palam Vihar, Gurgaon, Haryana",1.0,Na,0 to 1 Year Old,"['Palam Vihar Vyapar kendra', 'Palam triangle'...",Cctv surveillance are provided here. There is ...,"['3 Fan', '1 Exhaust Fan', '15 Light', '1 Modu...",NaN,"['Safety4 out of 5', 'Lifestyle4 out of 5', 'E..."

In [35]:
df.loc[[1448,1620,2070,2152,3237],'sector'] = 'sector 110'

In [37]:
df.shape

(3803, 21)

In [39]:
df.duplicated().sum()

0

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3803 entries, 0 to 3960
Data columns (total 21 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   property_name    3803 non-null   object
 1   sector           3803 non-null   object
 2   property_type    3803 non-null   object
 3   society          3802 non-null   object
 4   price            3785 non-null   float64
 5   price_per_sqft   3785 non-null   float64
 6   area             3785 non-null   float64
 7   areaWithType     3803 non-null   object
 8   bedRoom          3803 non-null   int64
 9   bathroom         3803 non-null   int64
 10  balcony          3803 non-null   object
 11  additionalRoom   3803 non-null   object
 12  address          3794 non-null   object
 13  floorNum         3784 non-null   float64
 14  facing           3803 non-null   object
 15  agePossession    3802 non-null   object
 16  nearbyLocations  3626 non-null   object
 17  description      3803 non-null   object
 18  furnishDetails   2822 non-null   object
 19  features         3168 non-null   object
 20  rating           3462 non-null   object
dtypes: float64(4), int64(2), object(15)
memory usage: 782.7+ KB

In [43]:
df.head()

,property_name,sector,property_type,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,2 BHK Flat in Sector 95A Gurgaon,sector 95,flat,the roselia 2,0.45,6475.0,695.0,Built Up area: 695 (64.57 sq.m.)Carpet area: 5...,2,2,2,not available,"Sector 95a, Pataudi Road, Sector 95A Gurgaon, ...",19.0,North,undefined,NaN,Signature roselia 2 bhk. It is a good location...,NaN,NaN,"['Environment5 out of 5', 'Lifestyle4.5 out of..."
1,3 BHK Flat in Sector 78 Gurgaon,sector 78,flat,umang monsoon breeze,1.20,6493.0,1848.0,Super Built up area 2250(209.03 sq.m.)Carpet a...,3,3,2,pooja room,"Sector 78 Gurgaon, Gurgaon, Haryana",8.0,Na,5 to 10 Year Old,"['Proposed Metro Station', 'Mahapal Shing', 'N...","A 3 bedroom flat, located in sector-78 gurgaon...","['1 Water Purifier', '1 Fridge', '5 Fan', '1 E...","['Piped-gas', 'Natural Light']","['Safety4 out of 5', 'Lifestyle4 out of 5', 'E..."
2,3 BHK Flat in Sector 1 Imt Manesar,manesar,flat,hsiidc sidco aravali,0.91,3516.0,2588.0,Super Built up area 2588(240.43 sq.m.)Built Up...,3,3,3+,servant room,"Sector 1 Imt Manesar, Gurgaon, Haryana",8.0,East,5 to 10 Year Old,"['Pooja Clinic', 'Dr. Sahil Clinic', 'Prakash ...",Arawali sidco good property imt manesar \nNear...,"['6 Fan', '6 Light', 'No AC', 'No Bed', 'No Ch...","['Power Back-up', 'Lift(s)', 'Maintenance Staf...","['Environment5 out of 5', 'Lifestyle4.5 out of..."
3,3 BHK Flat in Sector 108 Gurgaon,sector 108,flat,sobha city,3.35,13266.0,2525.0,Super Built up area 2072.9(192.58 sq.m.),3,4,2,not available,"Sector 108 Gurgaon, Gurgaon, Haryana",19.0,Na,0 to 1 Year Old,"['Dwarka Sector 21', 'Dwarka Expressway', 'Vas...",Sobha city gurgaon by sobha ltd.\nOver 86% of ...,NaN,"['Security / Fire Alarm', 'Feng Shui / Vaastu ...","['Environment4 out of 5', 'Lifestyle4.5 out of..."
4,2 BHK Flat in Sector 108 Gurgaon,sector 108,flat,sobha city,1.90,13758.0,1381.0,Super Built up area 1381(128.3 sq.m.),2,2,2,not available,"N/a, Sector 108 Gurgaon, Gurgaon, Haryana",8.0,East,1 to 5 Year Old,"['Dwarka Sector 21', 'Dwarka Expressway', 'Vas...",Located in the popular residential address of ...,[],"['Power Back-up', 'Feng Shui / Vaastu Complian...","['Environment4 out of 5', 'Lifestyle4.5 out of..."

In [45]:
df.drop(columns = ['property_name', 'address', 'description', 'rating'],inplace = True)

In [47]:
df.duplicated().sum()

122

In [49]:
df.sample(5)

,sector,property_type,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,floorNum,facing,agePossession,nearbyLocations,furnishDetails,features
1522,sector 95,flat,awho shanti vihar,0.80,8888.0,900.00,Super Built up area 900(83.61 sq.m.)Carpet are...,2,2,3,study room,9.0,East,0 to 1 Year Old,"['Yadav Clinic', 'Bangali Clinic', 'Dr. J. S. ...",NaN,"['Security / Fire Alarm', 'Power Back-up', 'In..."
2393,sector 55,house,independent,2.80,18667.0,1499.97,Built Up area: 1500 (139.35 sq.m.),4,4,0,not available,2.0,Na,undefined,NaN,NaN,NaN
1227,sector 37c,flat,corona optus,1.43,7185.0,1990.00,Super Built up area 1990(184.88 sq.m.)Carpet a...,3,3,3+,"servant room,others",2.0,North,1 to 5 Year Old,"['The Esplanade Mall', 'Gurugram Road', 'Delhi...",NaN,"['Feng Shui / Vaastu Compliant', 'Security / F..."
1175,sector 106,flat,mrg skyline,1.82,13392.0,1359.00,Built Up area: 1359 (126.26 sq.m.)Carpet area:...,3,2,2,not available,4.0,East,undefined,"['Chintapurni Mandir', 'State bank ATM', 'R K ...","['1 Light', 'No AC', 'No Bed', 'No Chimney', '...",NaN
2403,sector 105,house,independent,0.50,50000.0,100.00,Built Up area: 100 (9.29 sq.m.),2,2,0,not available,1.0,Na,undefined,NaN,NaN,NaN

In [51]:
df.to_csv("gurgaon_properties_cleaned_v1.csv",index = False)