In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
pd.set_option('display.max_columns', None)

In [5]:
df = pd.read_csv('gurgaon_properties_cleaned_v2.csv').drop_duplicates()

In [7]:
df.head()

,sector,property_type,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,floorNum,facing,agePossession,super_built_up_area,built_up_area,carpet_area,servant room,study room,others,pooja room,store room,furnishing_type,luxury_score
0,sector 95,flat,the roselia 2,0.45,6475.0,695.0,Built Up area: 695 (64.57 sq.m.)Carpet area: 5...,2,2,2,19.0,North,Undefined,NaN,695.0,595.0,0,0,0,0,0,1,0
1,sector 78,flat,umang monsoon breeze,1.20,6493.0,1848.0,Super Built up area 2250(209.03 sq.m.)Carpet a...,3,3,2,8.0,Na,Moderately New Property,2250.0,NaN,1848.0,0,0,0,1,0,2,8
2,manesar,flat,hsiidc sidco aravali,0.91,3516.0,2588.0,Super Built up area 2588(240.43 sq.m.)Built Up...,3,3,3+,8.0,East,Moderately New Property,2588.0,1900.0,NaN,1,0,0,0,0,1,23
3,sector 108,flat,sobha city,3.35,13266.0,2525.0,Super Built up area 2072.9(192.58 sq.m.),3,4,2,19.0,Na,New Property,2072.9,NaN,NaN,0,0,0,0,0,1,102
4,sector 108,flat,sobha city,1.90,13758.0,1381.0,Super Built up area 1381(128.3 sq.m.),2,2,2,8.0,East,Relatively new property,1381.0,NaN,NaN,0,0,0,0,0,1,85

## property_type vs price

In [ ]:
# houses ahave very high prices

In [ ]:
# the price of houses have very high range

## property_type vs area

In [ ]:
# the area of houses are high in comparison to flats

In [ ]:
# massive outliers

In [ ]:
# removing that crazy outlier

In [ ]:
# boxplot

## property_type vs price_per_sqft

In [ ]:
# check outliers

# their is messed up. area is less and price of flat is very high ,then obviously price_per_sqft will increses very high . 
# and this is not outliers this are the data errors

## property_type vs bedroom

In [ ]:
# heatmap

In [ ]:
# checking outliers